/* your code */
table {
	border-collapse: separate;
	border-radius:15px;
	border: solid lightpink;
	width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
	border-radius: 10px;
	
}

th {
  background-color: lightskyblue;
  color: black;
}

tr{
  background-color: antiquewhite;

}

td{
  font-weight: bold;
}

td{
  font-weight: bold;
  color: black;
}

